body {
    padding-top: 50px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DA8;
}

/* .card-background{
    background-color: #512DA8;
} */
.jumbotron {
    /* * vertical | horizontal * */
    padding: 70px 30px;
    margin: 0 auto;
    background: rgb(132, 15, 182);
    color: white;
}

.row-header {
    /* * vertical | horizontal * */
    margin: 0 auto;
    padding: 0;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.footer {
    background-color: #002B49;
    margin: 0 auto;
    padding: 20px 0;
    color: white;
}

address {
    font-size: 80%;
    margin: 0;
}