body {
  padding-top: 50px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}
.modal-header {
  background-color: #512da8;
  color: white;
}
.modal-header .btn-close {
  background-color: rgb(226, 216, 196);
}
.modal-body {
  background-color: gainsboro;
}
.jumbotron {
  /* * vertical | horizontal * */
  padding: 70px 30px;
  margin: 0 auto;
  background: #840fb6;
  color: white;
}
.carousel {
  background: #512da8;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  opacity: 0.4;
}
.row-header {
  /* * vertical | horizontal * */
  margin: 0 auto;
  padding: 0;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.card {
  background-color: gainsboro;
}
.footer {
  background-color: #512da8;
  margin: 0 auto;
  padding: 20px 0;
  color: white;
}

address {
  font-size: 80%;
  margin: 0;
}
